@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0.0 0.0% 100.0%;
    --foreground: 0.0 0.0% 9.4%;
    --card: 0.0 0.0% 100.0%;
    --card-foreground: 0.0 0.0% 9.4%;
    --popover: 0.0 0.0% 100.0%;
    --popover-foreground: 0.0 0.0% 9.4%;
    --primary: 283.4 67.2% 35.9%;
    --primary-foreground: 0.0 0.0% 98.4%;
    --secondary: 0.0 0.0% 96.9%;
    --secondary-foreground: 0.0 0.0% 20.8%;
    --muted: 0.0 0.0% 96.9%;
    --muted-foreground: 0.0 0.0% 56.5%;
    --accent: 0.0 0.0% 96.9%;
    --accent-foreground: 0.0 0.0% 20.8%;
    --destructive: 17.0 77.3% 46.7%;
    --border: 0.0 0.0% 92.2%;
    --input: 0.0 0.0% 92.2%;
    --ring: 0.0 0.0% 71.0%;
    --chart-1: 32.0 80.2% 56.5%;
    --chart-2: 186.3 50.8% 47.8%;
    --chart-3: 219.1 41.7% 49.8%;
    --chart-4: 41.9 86.9% 55.1%;
    --chart-5: 44.4 80.6% 51.4%;
    --sidebar: 182.5 60.0% 15.7%;
    --sidebar-foreground: 216.0 12.5% 84.3%;
    --sidebar-primary: 0.0 0.0% 20.8%;
    --sidebar-primary-foreground: 0.0 0.0% 98.4%;
    --sidebar-accent: 180.0 26.8% 24.1%;
    --sidebar-accent-foreground: 0.0 0.0% 100.0%;
    --sidebar-border: 0.0 0.0% 92.2%;
    --sidebar-ring: 0.0 0.0% 71.0%;
    --radius: 0.625rem;
  }

  .dark {
    --background: 36.0 20.0% 4.9%;
    --foreground: 0.0 0.0% 98.4%;
    --card: 30.0 8.3% 9.4%;
    --card-foreground: 0.0 0.0% 98.4%;
    --popover: 0.0 0.0% 9.0%;
    --popover-foreground: 0.0 0.0% 98.4%;
    --primary: 283.4 67.2% 35.9%;
    --primary-foreground: 0.0 0.0% 20.8%;
    --secondary: 0.0 0.0% 18.4%;
    --secondary-foreground: 0.0 0.0% 98.4%;
    --muted: 0.0 0.0% 15.7%;
    --muted-foreground: 0.0 0.0% 71.0%;
    --accent: 27.0 10.0% 18.0%;
    --accent-foreground: 0.0 0.0% 98.4%;
    --destructive: 15.0 70.0% 43.3%;
    --border: 0.0 0.0% 100.0% / 10%;
    --input: 0.0 0.0% 100.0% / 15%;
    --ring: 0.0 0.0% 56.5%;
    --chart-1: 248.2 83.1% 63.1%;
    --chart-2: 167.6 58.6% 53.1%;
    --chart-3: 44.6 83.1% 52.2%;
    --chart-4: 275.9 69.6% 59.6%;
    --chart-5: 344.4 71.1% 59.6%;
    --sidebar: 0.0 0.0% 10.2%;
    --sidebar-foreground: 0.0 0.0% 98.4%;
    --sidebar-primary: 248.2 83.1% 63.1%;
    --sidebar-primary-foreground: 0.0 0.0% 98.4%;
    --sidebar-accent: 0.0 0.0% 15.7%;
    --sidebar-accent-foreground: 0.0 0.0% 98.4%;
    --sidebar-border: 0.0 0.0% 100.0% / 10%;
    --sidebar-ring: 0.0 0.0% 56.5%;
    --radius: 0.625rem;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
